@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 4px 25px -22px black;
    z-index: 10;
}
.header-content{
    max-width: 1200px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    position:relative;
}
.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo h1 b{
    color: #46afd4;
}
.menu{
    height: 80px;
    
}
.menu nav{
    height: 100%;
}
.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}
.menu nav ul li{
    height: 100%;
    margin: 0% 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.menu nav ul li a{
    color: #777;
    font-size: 18px;
}
.menu nav ul li a:hover{
    color: #46afd4;
    transition: color 330ms;
}
.menu nav ul li a i{
    display: none;
}
#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    background: #fafafafa;
    border-radius: 100%;
    color: #787878;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}
#icon-menu:hover{
    opacity: 0.8;
}
/*portada*/
.container-cover{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 60px;
    background-image:url(https://www.tekcrispy.com/wp-content/uploads/2021/11/2021-11-14_14-09-59.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container-cover:before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(38, 172, 255, 0.8);
    position: absolute;
    top: 0;
    left: 0;
}
.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
}
.container-info-cover h1{
    font-size: 60px;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;

}
.container-info-cover p{
    color: white;
    font-size: 60px;
    font-weight: 300;
}
/*conatiner-content*/
.container-content{
    width: 1200px;
    margin: auto;
    margin-top: 40px;
    display: flex;
}
article{
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: -10px 0 20px -30px black;
    position: relative;
    border-radius: 6px;
    overflow:hidden ;
}
article:before{
    content: "";
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background: #46afd4;
}
article h1{
    margin-top: 20px;
    font-weight: 500;
    font-size: 40px;
}
article p{
    margin-top: 20px;
    font-size: 22px;
    color: #3c3c3c;
}
article img{
    width: 100%;
    margin-top: 20px;
}
article nav ul li{
    margin-top: 20px;
    font-size: 22px;
    color: #3c3c3c;
}
/*aside*/
.container-aside aside{
    width: 320px;
    border-radius: 6px;
    box-shadow: 0 0 20px -20px black;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 40px;
}
.container-aside aside img{
    width: 100%;
}
.container-aside aside h2,p{
    margin-top: 20px;
    padding: 0px 20px;
}
.container-aside aside button{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 50px;
    font-size: 16px;
    background: #46afd4;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
}
.container-aside aside button:hover{
    opacity: 0.9;
}
.info{
    display: flex;
    text-align: center;
    align-items: center;
}
.info img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    padding: 20px;
}
.info p{
    font-size: 26px;
}
/*footer*/
.container-footer{
    width:100%;
    padding: 40px 0;
    background:#f7f7f7;
    margin-top:40px;
}
.container-footer footer{
    max-width:1200px;
    margin:auto;
}
.container-footer footer .logo-footer{
    text-align:center;
}
.container-footer footer .logo-footer img{
    width:100px;
}
.container-footer footer .redes-sociales{
    display: flex;
    justify-content: center;
    margin-top:20px;
}
.container-footer footer .redes-sociales .icon-redes-footer{
    font-size: 20px;
    margin:20px;
    background:#efefef;
    width:50px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color:#a2a2a2;
}
.container-footer footer .redes-sociales .fa-facebook:hover{
    background:#41579a;
    color:#fff;
    transition: 300ms;
}
.container-footer footer .redes-sociales .fa-instagram:hover{
    background:linear-gradient(to top right,#fcde30, #e9712a, #d23138, #ae4198, #754da1, #5443a8);
    color:#fff;
    transition: 300ms;
}
.container-footer footer .redes-sociales .fa-twitter-square:hover{
    background:turquoise;
    color:#fff;
    transition: 300ms;
}
.container-footer footer .redes-sociales .fa-envelope:hover{
    background: #fb5e00;
    color:#fff;
}
.container-footer footer hr{
    margin-top: 20px;
    border:none;
    height:2px;
    background: #a8a8a8;
}
/*responsive desing*/
@media screen and (max-width:1200px ){
    .header-content,
    .container-content,
    .container-footer footer{
        max-width: 1000px;
        padding: 0 20px;
    }
}
@media screen and (max-width:1020px ){
    .container-content{
        width: 100%;
        flex-direction: column;
    }
    .container-aside{
        display: flex;
        justify-content: center;
    }
    article{
        box-shadow: 0;
    }
    .container-aside aside{
        max-width: 300px;
        margin: 10px;
    }
}
@media screen and (max-width:800px ){
    .conatiner-all{
        transition: all 300ms;
    }
    .move-container-all{
        transform: translateX(300px);
    }
    .menu{
        width:0px;
        height:100vh;
        position:fixed;
        top:80px;
        left:0;
        transform: translateX(-350px);
        transform: translateX(-350px);
        background: #fff;
        overflow: hidden;
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms;
    }
    .show-lateral{
        width:300px;
        transform: translateX(0px);
    }
    .menu nav ul{
        flex-direction: column;
    }
    .menu nav ul li{
        max-width:200px;
        height:50px;
        justify-content: flex-start;
    }
    .menu-selected:before{
        width:0;
    }
    .menu nav ul li a{
        margin-top:40px;
        color:#858585;
    }
    .menu nav ul li a i{
        width:20px;
        display:inline-block;
        margin-right: 10px;
        color:#46a2fd;
    }
    #icon-menu{
        display:flex;
        right:60px;
    }
    #icon-menu{
        display: flex;
    }
    .container-aside{
        flex-wrap: wrap;
    }

}
